body {
    font-family: 'Nunito', sans-serif;
    color:     #022859;
    background: #F2EEEB;  /* fallback for old browsers */ 
    /*background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #010057, #2a538f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#bg-image{
    background-image: url('/assets/images/reddit_phone.png');
    background-repeat: no-repeat;
    position: absolute;
    opacity: .5;
}


h1{
    font-family: 'Fredoka One', sans-serif;
    color: #020F59;
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal;
}

h3{

    color: #020F59;
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal;
}

p{
    margin-top: 75px;
    font-size: 18px;
    text-indent: 20px;
}

.fa-plus {
    float:right;
}

.axisWhite line{
    stroke: #022859;
    shape-rendering: crispEdges;
  }
  
.axisWhite path{
    stroke: #022859;
    stroke-width: 2;
  }
  
.axisWhite text{
    fill: #022859;
    font-size: 14px;
  }

.chartOneLine {
    fill: none;
    stroke-width: 2;
}

.chartTwoLine{
    fill: none;
    stroke-width: 1.5;
}

.chartTwoLine--fade {
    fill: none;
    stroke-width: 2;
    opacity: 0.2; 
}

.chartTwoLine--hover {
    fill: none;
    stroke-width: 2.5;
    opacity: 1; 
}

.legend text{
    fill:  #010B40;
    opacity: 0;
}


.legend circle {
    stroke-width: 1;
    opacity: 0;
}

circle {
    fill:rgb(255, 255, 255);
    stroke: #010B40;
    stroke-width: 3;
    opacity: 0;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 50px;
    padding: 2px;
    font: 14px;
    color: #F2EEEB;
    background: #010B40;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    }

#pg1, #pg2, #pg3 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    background: #010B40;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    color: #F2EEEB;
}


#chartOneText p, footer, blockquote {
    opacity: 0;
}

a,
a:hover,
a:focus {
    color: inherit;
}

#chartOneText a:link {
    color:#F05729;
    font-weight: bold;
}


.container-fluid,
.container {
    max-width: 1200px;
}

/* Card CSS source: https://codepen.io/mrsahar/pen/jRjmdL */
.chart-card {
    max-width: 400px;
    max-height: 200px;
    background-color: #010B40;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.chart-card img {
    transition: all linear 0.25s;
}

.chart-card .chart-title {
    position: absolute;
    left: 15px;
    bottom: 130px;
    font-size: 24px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.chart-card .chart-links {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #FFF;
    transition: all linear 0.25s;
}

.chart-card .chart-text {
    position: absolute;
    bottom: 50px;
    left: 10px;
    padding: 5px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.chart-card .chart-links .fa {
    margin: 5px;
}

.chart-card img {
    filter: opacity(.6);
}

.chart-card:hover img {
    filter: grayscale(100%);
    filter: blur(5px);
    filter: opacity(.2);
}

.chart-card:hover .chart-title {
    bottom: 110px;
}

.chart-card:hover .chart-text {
    bottom: 60px;
}

.annotation {
    opacity: 0;
  }

.annotation path {
    stroke: #F05729;
    stroke-width: 3px;
    fill: none;
  }

.annotation path.connector-arrow, 
.title text, .annotation text,
.annotation.callout.circle .annotation-subject path{
    fill: #022859;
}

.annotation text{
    font-size: 12px;
    cursor:pointer;
}
.annotation.callout.circle path.subject{
    stroke-width: 2px;
}



/* Source: https://color.adobe.com/trends 
Color Theme Swatches in Hex */
.Graphic-Design-1-hex { color: #020F59; }
.Graphic-Design-2-hex { color: #010B40; }
.Graphic-Design-3-hex { color: #022859; }
.Graphic-Design-4-hex { color: #42628C; }
.Graphic-Design-5-hex { color: #F2EEEB; }

/* Color Theme Swatches in RGBA */
.Graphic-Design-1-rgba { color: rgba(1, 14, 89, 1); }
.Graphic-Design-2-rgba { color: rgba(1, 10, 63, 1); }
.Graphic-Design-3-rgba { color: rgba(1, 39, 89, 1); }
.Graphic-Design-4-rgba { color: rgba(65, 98, 140, 1); }
.Graphic-Design-5-rgba { color: rgba(242, 237, 234, 1); }

/* Color Theme Swatches in HSLA */
.Graphic-Design-1-hsla { color: hsla(230, 96, 17, 1); }
.Graphic-Design-2-hsla { color: hsla(230, 96, 12, 1); }
.Graphic-Design-3-hsla { color: hsla(213, 96, 17, 1); }
.Graphic-Design-4-hsla { color: hsla(213, 36, 40, 1); }
.Graphic-Design-5-hsla { color: hsla(22, 22, 93, 1); }