body {
    font-family: 'Nunito', sans-serif;
    color:     #022859;
    background: #F2EEEB;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #010057, #2a538f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
    font-family: 'Fredoka One', sans-serif;
    color: #020F59;
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal;
}

h3{

    color: #020F59;
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal;
}

p{
    margin-top: 75px;
}

.fa-plus {
    float:right;
}

.axisWhite line{
    stroke: #022859;
    shape-rendering: crispEdges;
  }
  
.axisWhite path{
    stroke: #022859;
    stroke-width: 2;
  }
  
.axisWhite text{
    fill: #022859;
    font-size: 14px;
  }

.chartLine {
    fill: none;
    stroke: #022859;
    stroke-width: 2;
}

circle {
    fill:rgb(255, 255, 255);
    stroke: #010B40;
    stroke-width: 3;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 50px;
    padding: 2px;
    font: 14px;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    }

#pg1, #pg2, #pg3 {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background: #010B40;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    color: #F2EEEB;
}

#pg1:hover, #pg2:hover, #pg3:hover {
    color: #42628C;
}

#chart-text p{
    opacity: 0;
}